<!-- SET: FOOTER -->
			<div id="footer">
				<div class="container">
					<a href="#" class="footer_logo">
						<img src="{{.Site.BaseURL}}/images/f_logo.png" alt="logo">
					</a>
					<div class="social">
						<ul center>
							<li>
								<a href="http://twitter.com/hellobuild" title="Twitter">
									<i class="fa fa-twitter"></i>
								</a>
							</li>
							<li>
								<a href="https://blog.hellobuild.co" title="Medium">
									<i class="fa fa-medium"></i>
								</a>
							</li>
							<li>
								<a href="https://www.linkedin.com/company/hellobuild/" title="LinkedIn">
									<i class="fa fa-linkedin"></i>
								</a>
							</li>
							<li>
								<a href="http://facebook.com/hellobuild" title="Facebook">
									<i class="fa fa-facebook"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- END: FOOTER -->


			<!-- END: CONTAINER -->

		</div>
		<!-- END: WRAPPER -->
<script type="text/javascript" src="{{.Site.BaseURL}}/js/jquery-1.10.1.min.js"></script>
		<script type="text/javascript" src="{{.Site.BaseURL}}/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="{{.Site.BaseURL}}/js/jquery.nice-select.min.js"></script>
		<script type="text/javascript" src="{{.Site.BaseURL}}/js/slick.min.js"></script>
		<script type="text/javascript" src="{{.Site.BaseURL}}/js/custom.js"></script>

</body>

</html>